
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  background: linear-gradient(
    45deg, rgba(2, 0, 36, 1) 0%,
    rgba(101, 101, 184, 1) 61%,
    rgba(0, 212, 255, 1) 100%
  );
}

.feed {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  width: 90%;
  height: 86%;
  background: linear-gradient(
    45deg, rgba(2, 0, 36, 0.118) 0%,
    rgba(101, 101, 184, 0.789) 61%,
    rgba(0, 213, 255, 0.7) 100%
  );
}

.feed .container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px 0;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background:  rgba(101, 101, 184, 0.248)
}

.feed .container:nth-child(odd) {
  background:  rgba(0, 213, 255, 0.152);
}

.feed .container .message {
  padding: 0 0 0 20px;
  width: 100%;
  font-weight: bold;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:rgb(184, 222, 230)
}

.feed .container img {
  margin-top: 20px;
  width: 95%;
  height: 95%;
}

form {
  width: 90%;
  height: 5%;
  margin: 5% 0 0 0;
}

form > input {
  border-radius: 10px;
  padding: 0 10px;
  height: 30px;
  width: 40%;
  border: 1px solid #FFF0;
  font-size: 20px;
  outline: none;
  color: rgba(0, 213, 255, 0.549);
  background: linear-gradient(
      90deg,rgba(101, 101, 184, 0.44) 61%,
    rgba(0, 213, 255, 0.323) 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input::placeholder {
  color: rgba(138, 207, 220, 0.57);
  font-size: 19px;
  font-weight: 400;
}

input:focus {
  border: 1px solid rgba(0, 213, 255, 0.549);
}

input:active {
  border: 1px solid linear-gradient(
      45deg,rgb(101, 101, 184) 61%,
    rgb(0, 213, 255) 100%);
}

form > button {
  border-radius: 5px;
  height: 30px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  color: rgba(0, 213, 255, 0.549);
  background: linear-gradient(
      45deg,rgba(101, 101, 184, 0.644) 61%,
    rgba(0, 213, 255, 0.549) 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}

input#photo {
  display:none;
} 