
.wrapper {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    45deg, rgba(2, 0, 36, 1) 0%,
    rgba(101, 101, 184, 1) 61%,
    rgba(0, 212, 255, 1) 100%);
}


.wrapper > label {
  color: rgba(0, 212, 255, 1);
  font-style: oblique;
  font-size: 70px;
  margin: 50px 0;
}


.card  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 60px 0;
  background: linear-gradient(
    45deg, rgba(2, 0, 36, 0.658) 0%,
    rgba(101, 101, 184, 0.644) 61%,
    rgba(0, 213, 255, 0.549) 100%);
}

input {
  border-radius: 10px;
  height: 25px;
  width: 70%;
  border: 1px solid #FFF0;
  font-size: 21px;
  outline: none;
  padding: 5px 10px;
  color: rgba(0, 213, 255, 0.549);
  background: linear-gradient(
      45deg,rgba(101, 101, 184, 0.864) 61%,
    rgba(0, 213, 255, 0.741) 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 20px 0;
}

input::placeholder {
  color: rgba(138, 207, 220, 0.57);
  font-size: 19px;
  font-weight: 400;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  background: linear-gradient(
    45deg, rgba(2, 0, 36, 1) 0%,
    rgba(101, 101, 184, 1) 61%,
    rgba(0, 212, 255, 1) 100%);
}


.wrapper > label {
  color: rgba(0, 212, 255, 1);
  font-style: oblique;
  font-size: 70px;
  margin: 50px 0;
}


.card  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 60px 0;
  background: linear-gradient(
    45deg, rgba(2, 0, 36, 0.658) 0%,
    rgba(101, 101, 184, 0.644) 61%,
    rgba(0, 213, 255, 0.549) 100%);
}

.card > label {
  display: none;
}

input {
  border-radius: 10px;
  height: 25px;
  width: 70%;
  border: 1px solid #FFF0;
  font-size: 21px;
  outline: none;
  padding: 5px 10px;
  color: rgba(0, 213, 255, 0.549);
  background: linear-gradient(
      45deg,rgba(101, 101, 184, 0.864) 61%,
    rgba(0, 213, 255, 0.741) 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 20px 0;
}

input::placeholder {
  color: rgba(138, 207, 220, 0.57);
  font-size: 19px;
  font-weight: 400;
}

input:focus {
  border: 1px solid rgba(0, 213, 255, 0.549);
}

input:active {
  border: 1px solid linear-gradient(
      45deg,rgba(101, 101, 184, 0.864) 61%,
    rgba(0, 213, 255, 0.741) 100%);
}

button {
  border-radius: 10px;
  height: 35px;
  width: 70%;
  border: none;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  color: rgba(0, 213, 255, 0.549);
  background: linear-gradient(
      45deg,rgba(101, 101, 184, 0.644) 61%,
    rgba(0, 213, 255, 0.549) 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}

.errors {
  margin: 20px 0 0 0;
}

.errors div {
  font-size: 25px;
  font-weight: 400px;
  color:rgb(179, 30, 30);
}

input:active {
  border: 1px solid linear-gradient(
      45deg,rgba(101, 101, 184, 0.864) 61%,
    rgba(0, 213, 255, 0.741) 100%);
}

button {
  border-radius: 10px;
  height: 35px;
  width: 70%;
  border: none;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  color: rgba(0, 213, 255, 0.549);
  background: linear-gradient(
      45deg,rgba(101, 101, 184, 0.644) 61%,
    rgba(0, 213, 255, 0.549) 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}

.errors {
  margin: 20px 0 0 0;
}

.errors div {
  font-size: 25px;
  font-weight: 400px;
  color:rgb(179, 30, 30);
}


@media screen and ( max-height: 400px ){
  .wrapper > label {
    display: none;
  }

  .card > label {
    display: inline-block;
    color: rgb(26, 189, 221);
    font-style: oblique;
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0;
  }
}


@media (min-width: 425px) {

  .wrapper > label {
    color: rgba(0, 212, 255, 1);
    font-style: oblique;
    font-size: 70px;
    margin: 65px 0;
  }

  .card  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 75px 20px;
    background: linear-gradient(
      45deg, rgba(2, 0, 36, 0.658) 0%,
      rgba(101, 101, 184, 0.644) 61%,
      rgba(0, 213, 255, 0.549) 100%);
  }
}


@media (min-width: 768px) {
  
  .wrapper > label {
    color: rgba(0, 212, 255, 1);
    font-style: oblique;
    font-size: 70px;
    margin: 50px 0;
  }
  
  
  .card  {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 80px 75px;
    min-width: 400px;
    min-height: 200px;
    background: linear-gradient(
      45deg, rgba(2, 0, 36, 0.658) 0%,
      rgba(101, 101, 184, 0.644) 61%,
      rgba(0, 213, 255, 0.549) 100%);
  }
  
  input {
    border-radius: 10px;
    height: 30px;
    width: 100%;
    border: 1px solid #FFF0;
    font-size: 25px;
    outline: none;
    padding: 5px 10px;
    color: rgba(0, 213, 255, 0.549);
    background: linear-gradient(
        45deg,rgba(101, 101, 184, 0.864) 61%,
      rgba(0, 213, 255, 0.741) 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px 0;
  }
  
  button {
    border-radius: 10px;
    height: 35px;
    width: 70%;
    border: none;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    color: rgba(0, 213, 255, 0.549);
    background: linear-gradient(
        45deg,rgba(101, 101, 184, 0.644) 61%,
      rgba(0, 213, 255, 0.549) 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
  }
}